<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Seller Orders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="card p-4 shadow">

        <h2 class="text-primary text-center mb-4">Seller Orders</h2>

        <table class="table table-bordered table-striped text-center">

            <thead class="table-dark">
                <tr>
                    <th>Order ID</th>
                    <th>Status</th>
                    <th>Delivery Man</th>
                    <th>Assign</th>
                </tr>
            </thead>

            <tbody>

                <tr th:if="${#lists.isEmpty(orders)}">
                    <td colspan="4" class="text-danger">
                        No Orders Found
                    </td>
                </tr>

                <tr th:each="o : ${orders}">
                    <td th:text="${o.id}"></td>
                    <td th:text="${o.status}"></td>

                    <td th:text="${o.deliveryMan != null ? o.deliveryMan.name : 'Not Assigned'}"></td>

                    <td>
                        <form th:action="@{'/orders/assign/' + ${o.id}}" method="post">

                            <select name="deliveryId" class="form-select mb-2">
                                <option th:each="d : ${deliveryList}"
                                        th:value="${d.id}"
                                        th:text="${d.name}">
                                </option>
                            </select>

                            <button class="btn btn-sm btn-primary">
                                Assign
                            </button>

                        </form>
                    </td>

                </tr>

            </tbody>

        </table>

    </div>

</div>

</body>
</html>